@import url("normalize.css");
@import url("fa/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px');

body {
	background: #333 url("concrete-texture.png") repeat fixed;
	color: #777;
	background-size: 200px 200px;
	font: 16px/1.8em "Open Sans", sans-serif;
}

a {
	color: #37c7f6;
	text-decoration: none;
}

a:hover {
	color: #a8eaff;
}

strong {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Slabo 27px', serif;
	color: #000;
}

h2 {
	font-size: 28px;
	color: #e58700;
}

p {
	padding-bottom: 1em;
}

#container {
	max-width: 780px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 50px 0 40px 0;
}

header h1 {
	flex: 0 1 0;
	margin: 0;
}

header h1 img {
	width: 300px; height: 300px;
}

header #sideheader {
	flex: 1 1 460px;
	padding-left: 20px;
}

header h2 {
	color: #e58700;
	text-align: right;
	font: 30px/1em 'Slabo 27px', serif;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header nav a {
	color: #bbb;
	font-size: 24px;
	text-decoration: none;
	display: block;
	padding: 8px 5px;
	margin: 0 10px;
	border-bottom: solid 3px #888;
}

header nav a:hover {
	border-bottom-color: #37c7f6;
}

.card {
	background: #fff;
	padding: 20px 40px;
	margin-bottom: 5px;
}

.card-break {
	display: block;
	height: 50px;
}

.card h3 {
	font-size: 22px;
	line-height: 1em;
	margin: 1em 0 0 0;
}

footer {
	color: #888;
	margin: 40px 10px 40px 10px;
}

footer a {
	color: #888;
}

@media (max-width: 780px) {

header {
	margin: 20px 10px;
}

header h1 img {
	width: 200px; height: 200px;
}

header h2 {
	font-size: 24px;
	text-align: left;
}

.card {
	padding: 5px 20px;
}

}
