@import url(https://fonts.googleapis.com/css?family=Lato:200,300|Lora:400,400italic);

body {
    background: #222;
    color: #aaa;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 300;
}
body strong {
    color: #ddd;
}
#container {
    max-width: 450px;
    margin: 6% auto;
    padding: 20px;
}
#header {
    text-align: center;
    margin-bottom: 80px;
}
#header h1 {
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin-bottom: 0;
}
#header h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(231, 189, 116);
    margin: 0 0 2em 0;
}
#header .tagline {
    font-family: Lora, serif;
    font-style: italic;
    font-size: 30px;
    color: #555;
}
#main-content {
    line-height: 1.5em;
}
#mc_embed_signup{
    background: none;
/*    font:14px Helvetica,Arial,sans-serif;*/
}