---
layout: master
---

{% for post in site.posts %}
  {% include post.html post=post %}
{% endfor %}

<div class="card-break"></div>

<div class="card">
  <h2>About the show</h2>

  <div class="captioned-photo" style="width: 200px;">
    <img src="/assets/recording-setup.png" alt="recording setup" style="width: 200px; height: 176px;" />
    <p>Fig 1. Our state-of-the-art production studio</p>
  </div>

  <p>The <strong>null hypothesis</strong> is the basis of scientific knowledge. A null hypothesis is essentially the common-sense, or even skeptic interpretation of the world, as we understand it — the status quo, the way we expect things to happen.</p>

  <p>This series will aim to tackle controversial topics with a 'null hypothesis' in mind. Our first topic will be Ageing. And our null hypothesis is that ageing is an inevitable biological process, and it is an inherent consequence of life.</p>

  <p>What if aging is not inevitable and not an inherent part of life? Perhaps it is a biological process that has been shaped by natural selection — but one that we can slow, or even reverse with pharmaceutical or non-pharma interventions?</p>

  <p>We will take a deep dive into the history, the latest research in the field, try to think through its implications on medicine and on society — to put together as complete of a picture as we can. And at the end of it all, we try to see if we can convince ourselves — and you! – to adopt a more interesting alternative hypothesis.</p>
</div>

<div class="card">
  <h2>About the hosts</h2>
  <p><img src="/assets/river-round.png" alt="River Jiang" style="width: 150px; height: 150px; float: left; padding: 0 30px 10px 0;" /><strong>River Jiang —</strong> Born in Shanghai, but did my growing up in Canada and China. I study medicine at McMaster University, and before that, I did my undergrad in Immunology. I've worked in molecular biology labs in the past, researching epigenetics and pathogenic bacteria. I am probably biased towards biology but I try not to be, because I love interesting and novel ideas of all kinds. Also a computer nerd, a reading fan, a big advocate for ketchup on scrambled eggs, a semi-adequate piano player, the kind of photographer who only knows how to shoot with a wide-open aperature, and someone who will never shy away from a good debate.</p>

  <p>&nbsp;</p>

  <p><img src="/assets/robyn-round.png" alt="Robyn Edgar" style="width: 150px; height: 150px; float: left; padding: 0 30px 10px 0;" /><strong>Robyn Edgar —</strong>  I produce many podcasts including CanCon at BetaKit, and I also work at Hifyre, a digital product studio in Hamilton. Before radio, I studied computer science and Arctic microbiology. It was only once I was out on a boat, in the Arctic, for a field season during my Masters, that I realized my passion for science communication.  I spent a month on board the CCGS Louis S. St. Laurent, and nearly every second of my free time was spent filming and editing together a short documentary on Arctic research science from GoPro footage that I’d painstakingly gathered in the unforgiving elements of the Arctic.</p>
</div>
